* { margin: 0; padding: 0; box-sizing: border-box; }
body { font-family: Arial, sans-serif; background: #fafafa; color: #333; }


/* Navbar */
.navbar { display: flex; justify-content: space-between; align-items: center; padding: 20px 50px; background: white; box-shadow: 0 2px 10px rgba(0,0,0,0.05); position: sticky; top: 0; z-index: 10; }
.navbar .logo { font-size: 24px; font-weight: bold; color: #ff9900; }
.nav-links a { font-size: 18px; color: #444; text-decoration: none; font-weight: 500; list-style: none; margin-left: 35px; transition: 0.3s;}
.nav-links a:hover,
.nav-links a.active{ text-decoration: none; color: #ff9900; font-size: 30px; font-weight: 700; transition: color 0.3s; }

.btn-primary { padding: 10px 20px; background: #ff9900; color: white; border: none; border-radius: 30px; cursor: pointer; }
.btn-primary:hover { opacity: 0.5 }

.menu, .close { display: none; font-size: 32px; cursor: pointer; }

.btn-dark { padding: 10px 25px; background: black; color: white; border-radius: 30px; }
.btn-dark:hover { background: transparent; color: black; border: 1px solid black; }

/* Hero Section */
.hero { max-width: 1500px; margin: 0 auto; display: flex; align-items: center; justify-content: space-between; padding: 80px 50px; }
.hero-text { flex: 1; padding-right: 40px; }
.hero-img { flex: 1; display: flex; justify-content: center; }
.hero-text h1 { font-size: 48px; font-weight: bold; line-height: 1.3; }
.hero-text p { margin: 20px 0; color: #555; font-size: 18px; }
.hero-img img { width: 100%; max-width: 500px; border-radius: 20px; box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); }



/* Features */
.featured {max-width: 1500px; padding: 80px 20px; margin: 0 auto; }
.featured h4 { color:#ff9900; text-align: center; font-size: 20px; }
.featured h2 { text-align: center; font-size: 36px; font-weight: bold; margin-top: 10px;}
.featured p { text-align: center; margin-top: 10px; }
.features { display: grid; grid-template-columns: repeat(4, 1fr); gap: 20px; margin-top: 40px; }
.feature-box { background: white; padding: 25px; border-radius: 15px; box-shadow: 0 4px 15px rgba(0,0,0,0.1); text-align: center; }
.feature-box h3 { color: #ff9900; margin-bottom: 10px; }


/* Campaign Section */
.campaigns { max-width: 1500px; padding: 80px 20px; margin: 0 auto;background: #fff; }
.campaigns h2 { font-size: 32px; margin-bottom: 30px; text-align: center; }
.campaign-list { display: grid; grid-template-columns: repeat(3, 1fr); gap: 25px; }
.campaign-card { background: #fafafa; border-radius: 15px; box-shadow: 0 4px 15px rgba(0,0,0,0.08); padding-bottom: 20px; overflow: hidden; }
.campaign-card img { width: 100%; height: 180px; object-fit: cover; }
.campaign-card h4 { font-size: 20px; margin: 15px; }
.campaign-card p { margin: 0 15px 20px; color: #666; }
.campaign-card .btn-primary { margin-left: 15px; }

footer { margin: 20px; padding: 30px; background-color: #cde5cd; color: black; font-size: 14px; display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); gap: 40px; justify-items: center; text-align: center; }





/* Responsive */
@media (max-width: 768px) {
    .navbar nav { display: none; }
    .btn-primary { display: none; }
    .menu { display: block; font-size: 30px; cursor: pointer;  }
    .close { display: none; font-size: 45px; cursor: pointer; position: absolute; top: 20px; right: 50px; z-index: 2000; }
    .navbar.nav-open nav { display: flex; flex-direction: column; position: fixed; top: 0; right: 0; width: 100%; height: 100vh; background: white; padding: 100px 30px; overflow: hidden; z-index: 1500; }
    .navbar.nav-open .close { display: block; }
    .navbar.nav-open .menu { display: none; }
    .navbar.nav-open nav a { font-size: 22px; padding: 15px 0; }

    .hero { flex-direction: column; text-align: center; }
    .hero-text h1 { font-size: 36px;}
    .hero-img img { width: 100%; margin-top: 30px; }

    .features { grid-template-columns: repeat(2, 1fr); }
    
    .campaign-list { grid-template-columns: 1fr; }

    footer { grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); }
}